<!doctype html>
<html>
<head>
  <title>NBA sports prediction</title>
  <link rel="icon" type="image/png" sizes="16x16" href="/img/favicon.ico">
  <link href="https://fonts.googleapis.com/css?family=Anton&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

  <link rel="stylesheet" href="/style.css">
</head>
<body>
  <header>
    <nav id="navHud" class="navbar navbar-dark">

      <button id="menu" class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand" href="#"><img id="logo"src="/img/HD.png"</a>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav mr-auto">
          <li class="nav-item active">
            <a class="nav-link" href="/profile">Home<span class="sr-only">(current)</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/myteam">My Teams</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="/logout">Logout</a>
          </li>
        </ul>
      </div>
</nav>
  </header>
  <section id="slide">
  <span class="intro js-scroll-trigger">Welcome <%= user %> </span>

  </section>
  <section class="container-fluid introSec">


    <video autoplay muted loop id="myVideo">
  <source src="/NBA.mp4" type="video/mp4">
    </video>

    <div id="content">
  <p class="decription">Hoop Dreams is an online NBA sports prediction model. Build your own fantasy team and put them up against each other. To create your team scroll down and enter a team name and select your five players</p>
  </div>
  </section>


  <section id="teamSec" class="container-fluid text-center">
    <h1 class="">Create your teams</h1>
    <p class="">Set up a team name and then click select players to build your team! </p>
    <p>**NOTE new users must create two teams to compare.</p>
    <!-- <form> -->
  <div class="form-group row">
    <label class="col-sm-2 col-form-label">Team Name</label>
    <div class="col-sm-10">
      <input type="text" class="form-control" id="teamName" placeholder="Team Name">
    </div>
  </div>
  <span id="players" type"click" class="btn btn-primary">Select players</span>
    <button id="create" type="click" class="btn btn-primary hidden">Create Team</button>

    <section class="popUp">
      <h3>Select your team icon</h3>
      <img class="teamIcon"src="/img/teamIcon7.jpg" alt="">
      <img class="teamIcon"src="/img/teamIcon10.png" alt="">
      <img class="teamIcon"src="/img/teamIcon8.jpg" alt="">
      <img class="teamIcon"src="/img/teamIcon2.jpg" alt="">
      <img class="teamIcon"src="/img/teamIcon3.jpeg" alt="">
      <img class="teamIcon"src="/img/teamIcon4.png" alt="">
      <img class="teamIcon"src="/img/teamIcon.png" alt="">
      <img class="teamIcon"src="/img/teamIcon6.jpg" alt="">

      <button type="button" id="done" class="btn btn-primary"name="button">Done</button>
    </section>

    <table class="table table-bordered">
      <tbody>
        <tr>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'7 WT: 215lbs PTS: 21.5 REB: 3.8 AST: 2.4 POS: Guard Klay Thompson" data-text="" data-name= "Klay Thompson"><img src="https://nba-sports-app.herokuapp.com/img/thomson.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'8 WT: 250lbs PTS: 27.4 REB: 8.5 AST: 8.3 POS: Forward Lebron James" data-name= "Lebron James"><img src="/img/lebron.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'9 WT: 240lbs PTS: 26 REB: 6.4 AST: 5.9 POS: Forward Kevin Durant" data-name= "Kevin Durant"><img src="/img/Durant.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'3 WT: 190lbs PTS: 27.3 REB: 5.3 AST: 5.3 POS: Guard Stephen Curry" data-name= "Stephen Curry"><img src="/img/curry.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'7 WT: 200lbs PTS: 22.9 REB: 11.1 AST: 10.7 POS: Guard Russell Westbrook" data-name= "Russell Westbrook"><img src="/img/russelWestbrooke.png"></td>
        </tr>
        <tr>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'3 WT: 195lbs PTS: 25.8 REB: 4.6 AST: 6.9 POS: Guard Damian Lillard" data-name= "Damian Lillard"><img src="/img/lillard.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'7 WT: 230lbs PTS: 26.6 REB: 7.3 AST: 3.3 POS: Forward Kawhi Leonard" data-name= "Kawhi Leonard"><img src="/img/Leonard.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'3 WT: 190lbs PTS: 21 REB: 4.0 AST: 3.0 POS: Guard CJ Mccollum" data-name= "CJ Mccollum"><img src="/img/CJ.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'6 WT: 212lbs PTS: 25.0 REB: 5.2 AST: 4.7 POS: Guard Kobe Bryant" data-name= "Kobe Bryant"><img src="/img/Kobe.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'11 WT: 242lbs PTS: 27.7 REB: 12.5 AST: 5.9 POS: Forward Giannis Antetokounmpo" data-name= "Giannis Antetokounmpo"><img src="/img/greekFreak.png"></td>
        </tr>
        <tr>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'7 WT: 230lbs PTS: 7.4 REB: 7.3 AST: 6.9 POS: Forward Draymond Green" data-name= "Draymond Green"><img src="/img/green.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'7 WT: 250lbs PTS: 24.5 REB: 7.5 AST: 5.4 POS: Forward Blake Griffin" data-name= "Blake Griffin"><img src="/img/griffin.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'7 WT: 220lbs PTS: 36.1 REB: 6.6 AST: 7.5 POS: Guard James Harden" data-name= "James Harden"><img src="/img/harden.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'3 WT: 193lbs PTS: 23.8 REB: 5.0 AST: 6.9 POS: Guard Kyrie Irving" data-name= "Kyrie Irving"><img src="/img/iriving.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'3 WT: 200lbs PTS: 18.0 REB: 2.7 AST: 4.3 POS: Guard Derrick Rose" data-name= "Derrick Rose"><img src="/img/rose.png"></td>
        </tr>
        <tr>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'4 WT: 210lbs PTS: 20.7 REB: 3.6 AST: 8.7 POS: Guard John Wall" data-name= "John Wall"><img src="/img/wall.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'5 WT: 205lbs PTS: 18.9 REB: 4.1 AST: 3.4 POS: Guard Ray Allen" data-name= "Ray Allen"><img src="/img/Ray.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'9 WT: 220lbs PTS: 28.0 REB: 8.2 AST: 4.1 POS: Forward Paul George" data-name= "Paul George"><img src="/img/george.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'10 WT: 245lbs PTS: 13.6 REB: 6.7 AST: 4.2 POS: Center/Forward Al Horford" data-name= "Al Horford"><img src="/img/horford.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'1 WT: 196lbs PTS: 14.2 REB: 4.8 AST: 8.7 POS: Guard Kyle Lowry" data-name= "Kyle Lowry"><img src="/img/lowry.png"></td>
        </tr>
        <tr>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'10 WT: 253lbs PTS: 25.9 REB: 12.0 AST: 3.9 POS: Forward/Center Anthony Davis" data-name= "Anthony Davis"><img src="/img/davis.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 7'1 WT: 255lbs PTS: 13.6 REB: 7.9 AST: 4.4 POS: Center Marc Gasol" data-name= "Marc Gasol"><img src="/img/gasol.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'11 WT: 265lbs PTS: 12.8 REB: 9.2 AST: 0.4 POS: Center Dwight Howard" data-name= "Dwight Howard"><img src="/img/howard.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'10 WT: 235lbs PTS: 15.0 REB: 8.1 AST: 1.3 POS: Center/Forward Serge Ibaka" data-name= "Serge Ibaka"><img src="/img/ibaka.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'10 WT: 251lbs PTS: 17.0 REB: 10.9 AST: 2.2 POS: Forward/Center Kevin Love" data-name= "Kevin Love"><img src="/img/love.png"></td>
        </tr>
        <tr>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'11 WT: 240lbs PTS: 17.8 REB: 10.0 AST: 3.7 POS: Forward Kevin Garnett" data-name= "Kevin Garnett"><img src="/img/Garnet.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'6 WT: 215lbs PTS: 5.7 REB: 3.7 AST: 3.2 POS: Forward/Guard Andre Iguodala" data-name= "Andre Iguodala"><img src="/img/andre.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 6'9 WT: 235lbs PTS: 12.3 REB: 4.0 AST: 1.8 POS: Forward Jeff Green" data-name= "Jeff Green"><img src="/img/jeff.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 7'0 WT: 250lbs PTS: 3.9 REB: 4.6 AST: 1.7 POS: Center/Forward Pau Gasol" data-name= "Pau Gasol"><img src="/img/pau.png"></td>
          <td class="nonSelected hidden textOverImage" data-text="HT: 5'9 WT: 181lbs PTS: 11.0 REB: 2.3 AST: 3.0 POS: Guard Nate Robinson" data-name= "Nate Robinson"><img src="/img/nate.png"></td>
        </tr>
      </tbody>
    </table>
    <!-- </form> -->
  </section>
  <div id="loader-wrapper">
    <div id="loader"></div>

  <script src="/main.js"></script>

</body>
</div>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</html>
