html{
  height: 1200px;
}

.breadcrumb{
  width: 35%;
  margin: 4%;
  margin-top: 20px;
  float: left;
  height: 500px;
}

.teamIcon{
width: 65%;
    height: 330px;
    margin: auto;
}

h2{
width: 100%;
text-align: center;
height: 0;
font-size: 4rem
}

.scoreSec{
  width: 100%;
  font-size: 2rem;
  text-align: center;
  display: inline-block;
}

.breadcrumb{
transition: 2s ease-in-out;
}
